

#defaultImg {
	width : 35px;
	height: 35px;
	border-radius: 100%;
	margin-right: 25px;
	margin-top: -90px;
}

.onFocus {
	height: 100px;
}

.noFocus {
	height: 45px;
}

#btnTweeter {
	color: #56b8f5;
	border-radius: 30px;
	width: 100px;
	margin-left: 200px;
	color: white;
}

.background-box {
 	background-color: #e6ecff;	
 	width: 800px;
	height: 200px;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.tweet-box {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 800px;
	height: 200px;
	margin: auto;
	padding: auto;
}

#textBox {
	width: 500px;
	height: 45px;
	border: 2px #9fd7f9 solid;
	border-radius: 10px;
	font-color: blue;
}

#textBox:focus { 
    height: 100px;
}

.background-box:focus {
	height: 300px;
}

#textBox::placeholder {
  color: #4d79ff;
}

#upload {
	width: 10px;
	height: 10px;
	margin: 5px;
	position: absolute;
	opacity: 0;
}

#uploadImg {
	position: absolute;
	width: 30px;
	height: 30px;
}

#uploadImg:hover, #retweetImg:hover, #likeImg:hover, #replyImg:hover, #likeImgFull:hover {
	cursor: pointer;
}

.uploadBox {
	position: relative;
	margin: 10px;
	width: 0px;
	height: 0px;
}

#retweetImg, #likeImg, #replyImg, #likeImgFull {
	width: 30px;
	height: 30px;
	margin-left: 20px
}

#replyImg {
	width: 30px;
	height: 30px;
	margin-left: 60px;
}

.hidden {
	display: none;
}

#good {
	color: green;
	font-size: 13px;
}

#bad {
	color: red;
	font-size: 13px;
}

.alert {
	padding-bottom: -30px;
	margin-bottom: -30px;
}

#warning {
	color: #4d79ff;
}